
/* Toggle Styles */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: medium none;
  outline-offset: 0;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}
#sidebar-wrapper {
  background: rgba(0, 0, 0, 0) url("../images/sidebar-bg.png") repeat scroll 0 0;
  box-shadow: 0 0 5px #ccc;
  height: 100%;
  left: 250px;
  margin-left: -250px;
  padding-top:10px;
  position: fixed;
  top:35px;
  transition: all 0.5s ease 0s;
  width: 0;
  z-index: 100;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px; overflow:hidden;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.toggled .glyphicon.glyphicon-menu-left {
  display: none;
}
.toggled #menu-toggle .glyphicon.glyphicon-menu-right {
  display: block;
  line-height: 30px;
}
#menu-toggle .glyphicon.glyphicon-menu-left {
 line-height: 23px;
}
.glyphicon.glyphicon-menu-right {
  display: none;
}
#wrapper.toggled .glyphicon glyphicon-menu-left{ display:none;}
#wrapper.toggled .glyphicon glyphicon-menu-right{ display:block;}
/* Sidebar Styles */
#menu-toggle.btn.btn-default {
  background: #8f8f8f none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  color: #fff;
  left: 160px;
  padding: 5px 4px;
  position: fixed;
  top:51px;
  transition: all 0.5s ease 0s;
  z-index: 999;
  font-size:12px;
  height:35px;
}
.toggled #menu-toggle.btn.btn-default {
  background-color: #FF9528;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: fixed;
  top:51px;
  transition: all 0.5s ease 0s;
}

.sidebar-nav {
  border-bottom: 1px solid #d7d7d7;
  float: left;
  list-style: outside none none;
  margin: 0;
  padding: 0 0 15px 15px;
  top: 0;
  transition: all 0.2s ease 0s;
  width: 100%;
  padding: 5px !important;
}
.filtro li a.dropdown-toggle {
  color: #fff;
  display: inline-block;
  float: left;
  line-height: 24px;
  padding:2px 7px;
  width: 100%;
  font-size:10px;
}
 .dropdown-menu > li > a {
  clear: both;
  color: #333;
  display: block;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.42857;
  padding: 3px 20px;
  white-space: nowrap;
}
.filtro li a.dropdown-toggle .glyphicon.glyphicon-triangle-bottom {
  border-left: 1px dotted #fff;
  color: #fff;
  float: right;
  font-size: 9px;
  height: 23px;
  padding-left: 11px;
  padding-top: 6px;
  width: 25px;
}
/*.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}*/

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  clear: both;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 180px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 180px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
