body {
	margin: 0;
	padding: 0;
}
.form-input-error {
	color: #FF7878;
}
.form-input-error input[type="text"],
.form-input-error input[type="password"]
{
	color: #FF7878;
	background: url('../../../images/error.png') 98% center no-repeat;
	border: 1px solid #FF7878;
}
.form-input-valid {
	color: #67A967;	
}
.form-input-valid input[type="text"],
.form-input-valid input[type="password"]
{
	color: #67A967;
	border: 1px solid #67A967;
}
.ytplayer-container {
	position: absolute;
	top: 0;
	z-index: -1;
}
.btn-facebook {
	background-color: #2B64C3;
	color: white;
}
.btn-facebook:hover {
	background-color: #265AB1;
	color: white;
}
#video {
	display: block;
	position: relative;
	background: transparent;
}
#overlay {
	position: absolute;
	opacity: 0.2;
	background-color: #fe9627;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#formulario {
    width: 350px;
    background-color: white;
    min-height: 200px;
    bottom: 10%;
    position: absolute;
    right: 5%;
    z-index: 10
}
#bg {
    background: url('../img/bg.jpg') no-repeat 50% 0;
    background-size: cover;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}
@media screen and (max-width:600px) {
	#video {
		display: none;
	}
	#bg {
		display: block;
	}
	#formulario {
		width: 90%;
		margin: auto;
		bottom: auto;
		top: 5%;
	}
}
