body {
	margin: 0;
	padding: 0;
}
.form-input-error {
	color: #FF7878;
}
.form-input-error input[type="text"],
.form-input-error input[type="password"]
{
	color: #FF7878;
	background: url('../../../images/error.png') 98% center no-repeat;
	border: 1px solid #FF7878;
}
.form-input-valid {
	color: #67A967;	
}
.form-input-valid input[type="text"],
.form-input-valid input[type="password"]
{
	color: #67A967;
	border: 1px solid #67A967;
}
.ytplayer-container {
	position: absolute;
	top: 0;
	z-index: -1;
}
.btn-facebook {
	background-color: #2B64C3;
	color: white;
}
.btn-facebook:hover {
	background-color: #265AB1;
	color: white;
}
.navbar-orange {
	background-color: 
}

p {
	font-size: 14px;
}
.game {
    margin: auto;
    width: 75%;
    text-align: center;
}
#imagelist li {
	margin: 5px;
	background-color: silver;
	cursor: pointer;
	width: 180px;
	height: 180px;
	border: 1px solid;
	display: inline-block;
	vertical-align: middle;
	background: url('../img/logo128.png') no-repeat center center #dcdee1;
	line-height: 128px;
	padding: 0;
}
#imagelist li img {
	display: block;
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: none;
}
#imagelist li:hover {
	background: url('../img/logo128.png') no-repeat center center #ff9528;
}
@media (max-width: 1200px) {
	.game {
		width: 82%;
	}
}
@media (max-width: 1024px) {
	.game {
		width: 85%;
	}
}
@media (max-width: 800px) {
	.game {
		width: 100%;
	}
	#imagelist li {
		width: 22%;
		height: 140px;
	}
}
@media (max-width: 600px) {
	#imagelist li {
	    width: 20%;
	    height: 120px;
	}
	#imagelist li img {
	    width: 90%;
	    height: 90%;
        transform: translateY(-60%)
	}
}
